.header{
  text-align: center;
}




.header h1 {
  background-color: rgb(151, 52, 204);
  text-align: start;
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: aquamarine;
}
.header p {
font-size:xx-large ;
font-family:cursive ;
}

.button {
  display: flex;
  justify-content: center; 
  gap: 10px;
}

.button button {
  padding: 10px 20px; 
  background-color: #40bbc0;
  color: #1e0909;
  border-radius: 4px;
  cursor:pointer;
}

.button button:hover {
  background-color: #258667;
}

.button button:active {
  background-color: #40bbc0;
}

.form{
  display: flex;
  justify-content: flex-start;
}
input {
  width: min-content;
  padding: 12px 20px;
  border-radius: 4px;
  border : 3px solid black;
}
.form button {
  display: flex;
  justify-content: center; 
  gap: 30px;
}

.form  button {
  padding: 10px 20px; 
  background-color: #40bbc0;
  color: #1e0909;
  border-radius: 4px;
  cursor:pointer;
}

.form button:hover {
  background-color: #258667;
}

.form button:active {
  background-color: #40bbc0;
}
.commentary{
 font-size: xx-large;
 background: #2d64c2;
 font-family:cursive ;
}